<!--want index to have link for coach sign up, coach login, and view boats -->
<h1>Welcome!</h1>

<a href="/coaches/signup">New Coach Sign Up</a><br>
<a href="/coaches/login">Existing Coach Log In</a><br>
<a href="/rowers/index">Rower Boat Index View</a>
